.coding-practices{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    margin-top: 5%;
    gap: 2rem;
}
.coding-practices div{
    /* border: 1px solid tomato;
    padding: 10px;
    border-radius: 15%; */
    width: 20%;
    height: 200px;
    padding: 2rem;
    /* background: #07182E; */
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
   box-shadow: rgba(252, 250, 250, 0.17) 0px -23px 25px 0px inset, rgba(248, 245, 245, 0.15) 0px -36px 30px 0px inset, rgba(247, 243, 243, 0.1) 0px -79px 40px 0px inset, rgba(245, 241, 241, 0.06) 0px 2px 1px, rgba(238, 236, 236, 0.09) 0px 4px 2px, rgba(245, 242, 242, 0.09) 0px 8px 4px, rgba(247, 247, 247, 0.09) 0px 16px 8px, rgba(252, 250, 250, 0.09) 0px 32px 16px;
}
.coding-practices div::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 2s linear infinite;
  transition: all 0.2s linear;
}
@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.coding-practices div::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  


.coding-practices div h1{
    text-align: center;
    color: tomato;
    z-index: 10;
}
.coding-practices div h2{
    text-align: center;
     z-index: 10;
}

@media screen and (max-width:1040px) {
    .coding-practices{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 80%;
        margin: auto;
        gap: 5%;
        margin-top: 10%;
    }
    .coding-practices div{
        width: auto;
        height: auto;
        margin: 5%;
    }
    .coding-practices div h1{
        text-align: center;
        color: tomato;
    }
    .coding-practices div h2{
        text-align: center;
    }
}


@media screen and (max-width:450px) {
    .coding-practices{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        margin: auto;
        gap: 5%;
       margin-top: 10%;
    }
      .coding-practices div{
        width: auto;
        height: auto;
        margin: 5%;
    }
    .coding-practices div h1{
        text-align: center;
        color: tomato;
        font-size: 1rem;
    }
    .coding-practices div h2{
        text-align: center;
    }
}