.footer{
    height: 5%;
    width: 100%;
    padding: 1%;
    border:none;
    margin-top: 2%;
    background-color: tomato;
    
}
.footer p{
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (max-width:450px) and (min-width:250px) {
    .footer p{
    text-align: center;
    font-size: 0.7rem;
}
}